*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(1,1,1,1.5);
    font-size: 9vmin;
    color: #7f3bb0;
    background-color: lightgrey;
}

#reset-btn{
    margin-top: 2rem;
    padding: 1rem ;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(1,1,1,1.5);
    background-color: #191913;
    color: white;
    cursor: pointer;
}

#new-btn {
     margin-top: 2rem;
    padding: 1rem ;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(1,1,1,1.5);
    background-color: #191913;
    color: white;
    cursor: pointer;
}
#msg{
    color:#ffffc7;
    font-size:9vmin;
}

.msg-container{
    height:100vmin;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hide{
    display: none;
}

#confettiCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* clicks allow hote rahenge */
  z-index: 999;
}


